.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 10px;
    grid-template-rows: repeat(9, 100px);
    align-items: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
}

.text {
    position: absolute;
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #333333;
}